:root {
    --darkPurpleColor: #22022c;
    --purpleColor: #573280;
    --lightGrayColor: #ECECEC;
    --whiteText: #ffffff;
    --grayText: #535057;
    --blackText: #000000;
    --ADLamDisplayFont: "ADLaM Display";
    --ABeeZeeFont: "ABeeZee";
    --ActorFont: "Actor";
    --AlbertSansFont: "Albert Sans";
}
