<li class="sidebar-item">
    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
        <i class="bi bi-backpack4-fill"></i>
        <span>Auth</span>
    </a>    
    <ul id="auth" class="sidebar-dropdown list-unstyled collapse">
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">Login</a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">Register</a>
        </li>
    </ul>
</li>

<!-- Multi Level Sidebar Navigation -->
<li class="sidebar-item">
    <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
        <i class="bi bi-backpack4-fill"></i>
        <span>Multi Level</span>
    </a>
    <ul id="multi" class="sidebar-dropdown list-unstyled collapse">
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                Two Links
            </a>
            <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Link 1</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Link 2</a>
                </li>
            </ul>
        </li>
    </ul>
</li>