{% extends 'base.html' %}

{% block head %}
    <link href="{{ url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/form.css')}}" rel="stylesheet">
{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{%block page_title_txt %}
    {% if current_user.is_authenticated %}
        Welcome to Class, {{ user.name }}!
    {% else %}
        Hello There, Classmate!
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Dashboard Grid Layout -->
    <div id="dashboard-container" data-logged-in="{{ 'true' if current_user.is_authenticated else 'false' }}">

        <div class="row mt-4">
            <!-- Left Column (Wider for main content) -->
            <div class="col-lg-8 pe-lg-5">
                
                <!-- Obsidian Style Deadlines -->
                <div class="md-section">
                    <div class="md-h2-container d-flex justify-content-between">
                        <a href="{{ url_for('deadlines') }}" class="md-title d-flex align-items-center gap-2">
                            <div class="md-h2 mb-0">Upcoming Deadlines</div>
                            <span id="deadline-badge" class="badge bg-danger rounded-pill">{{ total_deadlines }}</span>
                            <i class="fa-solid fa-chevron-right text-muted"></i>
                        </a>
                        <div class="d-flex align-items-center gap-3">
                            <a href="#" class="filter-btn" data-filter="urgent">
                                <span>Urgent</span>
                            </a>
                            <a href="#" class="filter-btn" data-filter="week">
                                <span>This week</span>
                            </a>
                            <a href="#" class="filter-btn fw-bold" data-filter="all">
                                <span>Upcoming</span>
                            </a>
                        </div>
                    </div>
                    
                    {% if deadlines %}
                        {% for d in deadlines %}
                            {% set days_left = (d.due_date - today).days %}
                            {% set is_this_week = "true" if d.due_date <= end_of_week else "false" %}

                            <div class="md-task deadline-item" data-days="{{ days_left }}" data-this-week="{{ is_this_week }}">
                                <!-- <i class="bi bi-square"></i> -->
                                <input type="checkbox" class="btn-check task-checkbox" id="btn-check-{{ d.id }}" data-id="{{ d.id }}" autocomplete="off">
                                <label class="btn btn-obsidian" for="btn-check-{{ d.id }}">
                                    <i class="fa-solid fa-check"></i>
                                </label>
                                <div id="task-text-{{ d.id }}">
                                    <div class="md-code-title">
                                        <a href="#" class="md-task-title" data-id="{{ d.id }}">{{ d.description }}</a>
                                        {% if d.due_date < today %}
                                            <span class="md-code fw-bold text-white bg-danger border-0 ms-2 new-tag" id="tag-{{ d.id}}">OVERDUE</span>
                                        {% endif %}
                                    </div>
                                    <div class="md-code-content">
                                        <span class="md-code">{{ d.course.code }} | {{ d.course.title }}</span>
                                        <span class="md-code">{{ d.category }}</span>
                                        
                                        {% if days_left <= 2 %}
                                            {% set urgency_class = 'md-code-hot' %}
                                        {% elif days_left <= 5 %}
                                            {% set urgency_class = 'md-code-warm' %}
                                        {% else %}
                                            {% set urgency_class = 'md-code-chill' %}
                                        {% endif %}

                                        <span class="md-code {{ urgency_class }}">{{ d.due_date.strftime("%a, %b %d") }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                            <div>No deadlines found. Rest Well !</div>
                    {% endif %}
                </div> 

                <!-- Obsidian Style Announcements -->
                <div class="md-section">
                    <div class="md-h2-container d-flex justify-content-between">
                        <a href="{{ url_for('announcements') }}" class="md-title d-flex align-items-center gap-2">
                            <div class="md-h2 mb-0">Recent Announcements</div>
                            <span id="announcement-badge" class="badge bg-danger rounded-pill" style="display: none;">0</span>
                            <i class="fa-solid fa-chevron-right text-muted"></i>
                        </a>
                    </div>

                    {% for a in announcements %}
                    <div class="md-quote">
                        <div class="md-quote-title">
                            <a href="{{ url_for('announcement', id=a.id)}}" class="announcement-link" data-id="{{ a.id }}">{{ a.title }}</a>
                            
                            {% if a.id not in read_ids %}
                                <span class="md-code text-white bg-danger border-0 ms-2 new-tag" id="tag-{{ a.id }}">NEW</span>
                            {% endif %}
                        </div>
                        <div class="md-quote-content">
                            <!-- 1. Split the data using our new Python filters -->
                            {% set images = a.content | extract_images %}
                            {% set text_only = a.content | remove_images %}

                            <!-- CONTENT: Truncated to prevent massive walls of text -->
                            <div class="card-content">
                                <!-- striptags removes Markdown/HTML formatting so it truncates cleanly -->
                                {{ text_only | markdown | truncate(300, True, '...') }}
                            </div>

                            <!-- 3. Render the Image Gallery BELOW the text -->
                            {% if images %}
                                <div class="feed-image-gallery mb-3">
                                    {% for alt, url in images %}
                                        <img src="{{ url }}" 
                                            alt="{{ alt }}" 
                                            class="feed-image"
                                            data-bs-toggle="modal" 
                                            data-bs-target="#imageLightboxModal" 
                                            data-img-url="{{ url }}">
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        
                        <div class="md-code md-date p-0">Posted by: {{ a.author.name }} @ {{ a.date_posted.strftime("%b %d, %Y") }}</div>
                    </div>
                    {% endfor %}
                </div> 

            </div>

            <!-- Right Column (Narrower for side content) -->
            <div class="col-lg-4 d-flex flex-column">
                
                <!-- Quick Links -->
                <div class="md-section" id="quick-links">
                    <div class="md-h2-container d-flex justify-content-between">
                        <a href="#" class="md-title d-flex align-items-center gap-2">
                            <div class="md-h2 mb-0">Quick Links</div>
                            <i class="fa-solid fa-chevron-right text-muted"></i>
                        </a>
                    </div>
                    <ul class="md-list">
                        {% for l in links %}
                            <li>
                                <a href="{{ l.url }}" target="_blank" class="md-link">{{ l.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Class Summary -->
                <div class="md-section" id="latest-summary">
                    <div class="md-h2-container d-flex justify-content-between">
                        <a href="{{ url_for('summaries') }}" class="md-title d-flex align-items-center gap-2">
                            <div class="md-h2 mb-0">Latest Summary</div>
                                <!-- <span class="badge bg-danger rounded-pill">{{ total_deadline }}</span> -->
                                <i class="fa-solid fa-chevron-right text-muted"></i>
                            </a>
                        </div>
                        
                        {% if target_record %}
                            <div class="md-date md-code">Date: {{ target_record.date_held.strftime("%a - %b %d, %Y") }}</div>
                        {% else %}
                            <div class="md-date md-code border-0 bg-transparent ">No recent summaries.</div>
                        {% endif %}

                        {% for course_header, summaries in daily_summaries.items() %}
                            <div class="md-quote">
                                <div class="md-quote-title">{{ course_header }}</div>
                                {% for summary in summaries %}
                                    <p style="font-size: 0.85rem; margin-bottom: 0.3rem;">{{ summary.content }}</p>

                                    {% if summary.note %}
                                        <p style="font-size: 0.85rem; font-style: italic; opacity: 0.8;">Note: {{ summary.note }}</p>
                                    {% endif %}

                                    {% if not loop.last %}
                                        <hr style="margin: 0.5rem 0; border-color: var(--text-muted); opacity: 0.2;">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}