{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

    <!-- <link href="{{ url_for('static', filename='css/dashboard.css')}}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/form.css')}}" rel="stylesheet">
{% endblock %}

{% block page_title %}Update Announcement{% endblock %}
{%block page_title_txt %}Tell the whole block about it !{% endblock %}
{% block url_back %}{{ url_for('main.announcements')}}{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-12">
            <form id="announcementForm" method="POST" class="update-entry-form" novalidate>
                {{ form.hidden_tag() }}

                <!-- Title -->
                <div class="mb-5">
                    {{ form.title(class="form-control title-input border-0 shadow-none px-0 " + ("is-invalid" if form.title.errors else ""), autocomplete="off", placeholder="Announcement Title...") }}
                    <div class="invalid-feedback fw-bold" id="error-title">
                        {% if form.title.errors %}{{ form.title.errors[0] }}{% endif %}
                    </div>
                </div>

                <!-- EasyMDE Content -->
                <div class="mb-4">
                    <label class="form-label md-code border-0 bg-transparent mb-1">CONTENT</label>
                    {{ form.content(id="announcement-content", placeholder="e.g. Good day...", data_has_error="true" if form.content.errors else "false") }}
                    
                    <!-- force this error to show if WTForms rejects it -->
                    <div class="invalid-feedback fw-bold mt-2" id="error-content" style="{% if form.content.errors %}display: block;{% endif %}">
                        {% if form.content.errors %}{{ form.content.errors[0] }}{% endif %}
                    </div>
                </div>

                <div class="mb-4">
                    <label class="form-label md-code border-0 bg-transparent mb-1">ATTACHED URL (OPTIONAL)</label>
                    {{ form.url(class="form-control " + ("is-invalid" if form.url.errors else ""), placeholder="[Title](https://...)") }}
                    <div class="invalid-feedback fw-bold" id="error-url">
                        {% if form.url.errors %}{{ form.url.errors[0] }}{% endif %}
                    </div>
                </div>

                <div class="form-btn d-flex justify-content-end gap-3 mt-5">
                    <a href="javascript:history.back()" class="btn btn-modal-cancel text-decoration-none d-flex align-items-center">Cancel</a>
                    {{ form.submit(value="Save Announcement", class="btn btn-modal-save") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}